
<h1>@Model.Title</h1>

<h4>My Name is @Model.FirstName @Model.LastName</h4>

<p>@Model.Detail .  I have been a software engineer, professionally, for over @Model.Experience years.  Many more before I Started my career </p>
